# Lists

In [1]:
six=["juda",22,4453,787.786]
six

['juda', 22, 4453, 787.786]

In [2]:
six.reverse()
six

[787.786, 4453, 22, 'juda']

In [3]:
six.index(22)

2

In [4]:
six.append("six")
six

[787.786, 4453, 22, 'juda', 'six']

In [5]:
six.count('juda')

1

In [6]:
six.pop(3)
six

[787.786, 4453, 22, 'six']

# Tuple

In [7]:
tpl = (22,"deepak","aravind","krishna",22)

In [8]:
tpl.count(22)

2

In [9]:
tpl.index("aravind")

2

#  SET

In [10]:
fruits = {"apple","orange","banana","kiwi","lemons"}
fruits.update(["tomato","potato","brinjal"])
fruits

{'apple', 'banana', 'brinjal', 'kiwi', 'lemons', 'orange', 'potato', 'tomato'}

In [11]:
fruits2 = {"dramgonfruit","pear","dates","kiwi"}
fruits3 = fruits.union(fruits2)
fruits3

{'apple',
 'banana',
 'brinjal',
 'dates',
 'dramgonfruit',
 'kiwi',
 'lemons',
 'orange',
 'pear',
 'potato',
 'tomato'}

In [12]:
fruits.issubset(fruits2)

False

In [13]:
fruits.difference_update(fruits2)
fruits

{'apple', 'banana', 'brinjal', 'lemons', 'orange', 'potato', 'tomato'}

In [14]:
fruits.symmetric_difference(fruits3)

{'dates', 'dramgonfruit', 'kiwi', 'pear'}

# dictionary

In [2]:
class1 = {"strenght":45,"type":"toped","floor":3}
class2 = {"strenght":77,"type":"average","floor":4}
class3 = {"strenght":35,"type":"below average",'floor':1}
school = {"class1":class1,"class2":class2,"class3":class3}
school

{'class1': {'strenght': 45, 'type': 'toped', 'floor': 3},
 'class2': {'strenght': 77, 'type': 'average', 'floor': 4},
 'class3': {'strenght': 35, 'type': 'below average', 'floor': 1}}

In [16]:
class1.values()

dict_values([45, 'toped', 3])

In [17]:
class1.pop("type")
class1

{'strenght': 45, 'floor': 3}

In [18]:
class2.popitem()
class2

{'strenght': 77, 'type': 'average'}

In [19]:
class1.clear()
class1

{}

# string

In [24]:
no = 9999900000
txt = "i am juda and my number is {}"
txt.format(no)

'i am juda and my number is 9999900000'

In [26]:
txt.capitalize()

'I am juda and my number is {}'

In [31]:
txt.isnumeric()

False

In [32]:
txt.expandtabs()

'i am juda and my number is {}'

In [33]:
txt.strip()

'i am juda and my number is {}'